container/node-red/flows.json
[
    {
        "id": "f59ffeb2427b290b",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f8a1c2ebdf91ab0b",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "20bb51986471a141",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c7d1f59913391e41",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD.MM.YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "fa7bf54eaa14cc14",
        "type": "ui_group",
        "name": "Standard",
        "tab": "20bb51986471a141",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d68e7be3.88f088",
        "type": "ui_group",
        "name": "Forms Example",
        "tab": "67ff17e9.83751",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "54bca71e.4287f",
        "type": "ui_group",
        "name": "Form",
        "tab": "67ff17e9.83751",
        "order": 2,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "67ff17e9.83751",
        "type": "ui_tab",
        "name": "Forms Example ",
        "icon": "home",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "32936df7bfb4b6a2",
        "type": "mqtt out",
        "z": "f59ffeb2427b290b",
        "name": "",
        "topic": "msg/0",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f8a1c2ebdf91ab0b",
        "x": 770,
        "y": 340,
        "wires": []
    },
    {
        "id": "4aed3ca683407442",
        "type": "debug",
        "z": "f59ffeb2427b290b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 400,
        "wires": []
    },
    {
        "id": "387411cd268f3845",
        "type": "ui_form",
        "z": "f59ffeb2427b290b",
        "name": "",
        "label": "",
        "group": "fa7bf54eaa14cc14",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "",
                "value": "message",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "message": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 270,
        "y": 340,
        "wires": [
            [
                "08ec0909974a754a"
            ]
        ]
    },
    {
        "id": "08ec0909974a754a",
        "type": "function",
        "z": "f59ffeb2427b290b",
        "name": "",
        "func": "input = msg\nmsg = {}\nmsg.payload = input.payload.message\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 340,
        "wires": [
            [
                "32936df7bfb4b6a2"
            ]
        ]
    },
    {
        "id": "b6c16f025c0d9987",
        "type": "ui_dropdown",
        "z": "f59ffeb2427b290b",
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "fa7bf54eaa14cc14",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Mittagspause",
                "value": "Mittagspause",
                "type": "str"
            },
            {
                "label": "Morgenpause",
                "value": "Morgenpause",
                "type": "str"
            },
            {
                "label": "Feierabend",
                "value": "Feierabend",
                "type": "str"
            },
            {
                "label": "Zeit",
                "value": "Zeit",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 260,
        "y": 400,
        "wires": [
            [
                "4273896559acbd47",
                "bad5b9c0f682b9ce"
            ]
        ]
    },
    {
        "id": "4273896559acbd47",
        "type": "function",
        "z": "f59ffeb2427b290b",
        "name": "",
        "func": "const date = new Date();\n\n\nmsg.payload = `${date.getHours()}:${date.getMinutes()} Uhr ${msg.payload}`\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 400,
        "wires": [
            [
                "bad5b9c0f682b9ce",
                "32936df7bfb4b6a2"
            ]
        ]
    },
    {
        "id": "bad5b9c0f682b9ce",
        "type": "debug",
        "z": "f59ffeb2427b290b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 460,
        "wires": []
    }
]