container/node-red/flows.json
[
    {
        "id": "f59ffeb2427b290b",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f8a1c2ebdf91ab0b",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "32936df7bfb4b6a2",
        "type": "mqtt out",
        "z": "f59ffeb2427b290b",
        "name": "",
        "topic": "msg/0",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f8a1c2ebdf91ab0b",
        "x": 790,
        "y": 220,
        "wires": []
    },
    {
        "id": "419bb5911bff762e",
        "type": "inject",
        "z": "f59ffeb2427b290b",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hallo Welt",
        "payloadType": "str",
        "x": 260,
        "y": 220,
        "wires": [
            [
                "32936df7bfb4b6a2",
                "4aed3ca683407442"
            ]
        ]
    },
    {
        "id": "4aed3ca683407442",
        "type": "debug",
        "z": "f59ffeb2427b290b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 300,
        "wires": []
    }
]